@using Microsoft.AspNetCore.Components.Forms

@typeparam T where T : class, new()
@inherits TabStateBase<T>

@if (dynamicModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(@Alert == null)
    {
        <div class="container container-body float-start">
            <div class="lead">
                <h4>@dynamicModel.Config.Title</h4>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <EditForm Model="@dynamicModel.Model" OnValidSubmit="@Submit">
                            <div class="card-header">
                                <div class="container px-1">
                                    <div class="row">
                                        <div class="column">
                                            <div class="clearfix">
                                                @if (isSaveInProgress)
                                                {
                                                    <i class="fas fa-spinner fa-spin fa-2x float-left"></i>
                                                }
                                                else if (!isDeleteInProgress)
                                                {
                                                    <ComponentTip Class="float-left borderless" Text="Save"><button type="submit" class="btn btn-small borderless btn-outline-primary fas fa-save"/></ComponentTip>
                                                }
                                                @if (isDeleteInProgress)
                                                {
                                                    <i class="fas fa-spinner fa-spin fa-2x float-end"></i>
                                                }
                                                else if (!isSaveInProgress)
                                                {
                                                    <ComponentTip Class="float-end borderless" Text="Delete"><button type="button" class="btn btn-small borderless btn-outline-danger fas fa-times" @onclick="() => Delete()"/></ComponentTip>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="column">
                                            <div class="btn-group btn-group-sm float-left" role="group">
                                                @foreach (var page in dynamicModel.RootContainers)
                                                {
                                                    <button type="button"
                                                            class="btn btn-small @GetTabButtonClass(page)"
                                                            @onclick=@(() => SetActivePage(page))>
                                                            @(page.Label)
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                @if(activePage != null)
                                {
                                    <DynamicComponent @key=activePage.ContainerId Type="activePage.DynamicComponent" Parameters="activePage.Parameters" />
                                }
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <Alert AlertType="@Alert.AlertType" Title="@Alert.Title" Message="@Alert.Message" RedirectText="@Alert.RedirectText" RedirectPage="@Alert.RedirectPage"/>
    }
}