@typeparam T where T : class, new()
@inherits ListDetailBase<T> 

<div class="container container-body float-start">
	<div class="row">
		<div class="col-sm">
            @if(dynamicModel != null)
            {
                <MudToolBar DisableGutters="true" Style="border-bottom: 1px solid gray;">
                    <MudTooltip Text="Clear selection" Arrow="true">
                        <MudIconButton ButtonType="ButtonType.Button" Color="Color.Inherit" Icon="@Icons.Material.Filled.Undo" OnClick="NewAsync"/>
                    </MudTooltip>
                    <MudTooltip Text="Add new or update existing item" Arrow="true">
                        <MudIconButton ButtonType="ButtonType.Button" Color="Color.Inherit" Icon="@Icons.Material.Filled.Add" OnClick="() => AddAsync(dynamicModel)"/>
                    </MudTooltip>
                    <MudSpacer />
                    <MudTooltip Text="Remove from list" Arrow="true">
                        <MudIconButton ButtonType="ButtonType.Button" Color="Color.Inherit" Icon="@Icons.Material.Filled.Close" OnClick="() => RemoveAsync(dynamicModel)"/>
                    </MudTooltip>
                </MudToolBar>

                @foreach(var rootContainer in dynamicModel.RootContainers)
                {
                    <DynamicComponent @key="rootContainer.UniqueId" Type="rootContainer.DynamicComponent" Parameters="rootContainer.Parameters" />   
                }
            }
		</div>
		<div class="col-sm">
            @if (dynamicList != null)
            {
                <table class="table">
                    <MudTable Items="@dynamicList.DynamicListItems" 
                              Hover="true" Dense="true" Striped="true" Breakpoint="Breakpoint.Sm"
                              Filter="new Func<DynamicListItem<T>,bool>(FilterFunction)"
                              OnRowClick="RowClickEvent" T="DynamicListItem<T>">
                        <ToolBarContent>
                            <MudTextField @bind-Value="filterString" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.FilterAlt" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            @foreach(var column in dynamicList.ConfigItems)
                            {
                                <MudTh>@column.Label</MudTh>
                            }
                        </HeaderContent>
                        <RowTemplate>
                            @foreach(var column in dynamicList.ConfigItems)
                            {
                                <MudTd DataLabel="@column.Label">@dynamicList.GetValue(@context.Model, column.PropertyName)</MudTd>                            
                            }
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </table>
            }
		</div>
	</div>
</div>
