@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

@inherits LabelBase

<div class="mb-1">
    <div class="row">
        <div class="col-sm-4">
            @if(string.IsNullOrWhiteSpace(Field.Tooltip))
            {
                <MudTextField Value="@PropertyValue" Variant="Variant.Outlined" ReadOnly="true" Label="@Field.Label" />
            }
            else
            {
                <MudTooltip Text="@Field.Tooltip" Placement="Placement.Top" Arrow="true">
                    <MudTextField Value="@PropertyValue" Variant="Variant.Outlined" ReadOnly="true" Label="@Field.Label" />
                </MudTooltip>    
            }
        </div>
        <div class="col-sm-8" />
    </div>
</div>