@inherits ModelConfigsBase

@if (modelConfigs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Model Config Id</th>
                <th>Model Name</th>
                <th>Config Api Path</th>
                <th>Navigate To</th>
                <th>Navigate Text</th>
                <th> 
                    <button type="button" class="btn btn-small btn-outline-primary fas fa-plus" @onclick="() => Add()"/>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var modelConfig in modelConfigs)
            {
                <tr>
                    <td>
                        @modelConfig.ModelConfigId
                    </td>
                    <td>
                        @modelConfig.ModelName
                    </td>
                    <td>
                        @modelConfig.ConfigApiPath
                    </td>
                    <td>
                        @modelConfig.NavigateTo
                    </td>
                    <td>
                        @modelConfig.NavigateText
                    </td>
                    <td>
                        <button type="button" class="btn btn-small btn-outline-primary fas fa-edit" @onclick="() => Update(modelConfig.ModelConfigId)"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}