@typeparam T where T : class, new()
@inherits TreeNodeBase<T>

<li class="draggable  @dropClass" 
    draggable="true" 
    title="@Node.Label"
    @ondragstart="@(() => HandleDragStart(Node))"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave">
    <p class="Label" @onclick="OnNodeClicked">@Node.Label</p>
    <div class="treenodes">
        <ul class="treenodeslist">
            @foreach (var node in Node.Nodes)
            {
                @RenderTreeNode(node)
            }
        </ul>
    </div>
</li>