@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Headway.Razor.Controls.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

@typeparam T where T : class, new()
@inherits DropdownComplexBase<T>

<div class="mb-1">
    <div class="row">
        <div class="col-sm-4 col-form-label">
            @Field.Label
        </div>
        <div class="col-sm-8">
            <InputSelect class="form-control" Value="@value" ValueExpression="(() => value)" ValueChanged="@((string val) => OnValueChanged(val))">
                @if (optionItems != null)
                {
                    @foreach (var optionItem in optionItems)
                    {
                        <option value="@optionItem.Name">@optionItem.Name</option>
                    }
                }
            </InputSelect>
        </div>
    </div>
</div>