@typeparam T
@inherits ModelViewBase<T>
@using Microsoft.AspNetCore.Components.Forms

<AuthorizeView>
    <!--
    Need to specify the context to avoid clashes with other auto generated contexts
    https://github.com/chanan/BlazorStrap/issues/149 
    -->
    <Authorized Context="authModelView">
        @if (dynamicModel == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @if(@Alert == null)
            {
                <div class="container container-body">
                    <div class="lead">
                        <h1>@dynamicModel.Config.Title</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-header">
                                    <h2>@dynamicModel.Title</h2>
                                    <div>
                                        @if (isSaveInProgress)
                                        {
                                            <i class="fas fa-spinner fa-spin fa-2x"></i>
                                        }
                                        else if (!isDeleteInProgress)
                                        {
                                            <button type="submit" class="btn btn-small btn-outline-primary fas fa-save"/>
                                        }
                                        @if (isDeleteInProgress)
                                        {
                                            <i class="fas fa-spinner fa-spin fa-2x"></i>
                                        }
                                        else if (!isSaveInProgress)
                                        {
                                            <button type="button" class="btn btn-small btn-outline-danger fas fa-times" @onclick="() => Delete()"/>
                                        } 
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <EditForm Model="@dynamicModel.Model" OnValidSubmit="@Submit">
                                    @foreach(var dynamicField in dynamicModel.DynamicFields)
                                    {
                                        <DynamicComponent Type="dynamicField.DynamicComponent" Parameters="dynamicField.Parameters" />
                                    }
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <Alert AlertType="@Alert.AlertType" Title="@Alert.Title" Message="@Alert.Message" RedirectText="@Alert.RedirectText" RedirectPage="@Alert.RedirectPage"/>
            }
        }  
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>