@page "/permissiondetails"
@page "/permissiondetails/{PermissionId}"
@inherits PermissionDetailsBase
@using Microsoft.AspNetCore.Components.Forms

<AuthorizeView>
    <!--
    Need to specify the context to avoid clashes with other auto generated contexts
    https://github.com/chanan/BlazorStrap/issues/149 
    -->
    <Authorized Context="authPermissionDetails">
        <h3>Permissions</h3>

        @if (permission == null)
        {
            <p><em>Loading permissions...</em></p>
        }
        else
        {
            @if (alert == null)
            {
                <EditForm Model="@permission" OnValidSubmit="@SubmitPermission">
                    <DataAnnotationsValidator/>
                    <table>
                        <tbody>
                            <tr>
                                <td align="left">
                                    @if (InProgress)
                                    {
                                        <i class="fas fa-spinner fa-spin fa-2x"></i>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-small btn-info fas fa-plus"/>
                                    }
                                </td>
                                <td align="right"><button type="button" class="btn btn-small btn-danger fas fa-times" @onclick="() => DeletePermission(permission)"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td valign="middle">Permission Id</td>
                                <td valign="middle">@permission.PermissionId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="middle">Name</td>
                                <td valign="middle"><InputText id="permissionName" @bind-Value="permission.Name"/></td>
                                <td valign="middle"><ValidationMessage For="() => permission.Name"/></td>
                            </tr>
                            <tr>
                                <td valign="middle">Description</td>
                                <td valign="middle"><InputText id="permissionDescription" @bind-Value="permission.Description"/></td>
                                <td valign="middle"><ValidationMessage For="() => permission.Description"/></td>
                            </tr>
                        </tbody>
                    </table>
                </EditForm>
            }
            else
            {
                <Alert AlertType="@alert.AlertType" Title="@alert.Title" Message="@alert.Message" RedirectText="@alert.RedirectText" RedirectPage="@alert.RedirectPage"/>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>
