@page "/userdetails"
@page "/userdetails/{UserId:int}"
@inherits UserDetailsBase
@using Microsoft.AspNetCore.Components.Forms

<AuthorizeView>
    <!--
    Need to specify the context to avoid clashes with other auto generated contexts
    https://github.com/chanan/BlazorStrap/issues/149 
    -->
    <Authorized Context="authUserDetails">
        <h3>User</h3>

        @if (user == null)
        {
            <p><em>Loading user...</em></p>
        }
        else
        {
            @if (alert == null)
            {
                <EditForm Model="@user" OnValidSubmit="@SubmitUser">
                    <DataAnnotationsValidator/>                    
                    <table>
                        <tbody>
                            <tr>
                                <td align="left">
                                    @if (IsSaveInProgress)
                                    {
                                        <i class="fas fa-spinner fa-spin fa-2x"></i>
                                    }
                                    else if(!IsDeleteInProgress)
                                    {
                                        <button type="submit" class="btn btn-small btn-outline-primary fas fa-save"/>
                                    }
                                </td>
                                <td align="right">
                                    @if (IsDeleteInProgress)
                                    {
                                        <i class="fas fa-spinner fa-spin fa-2x"></i>
                                    }
                                    else if(!IsSaveInProgress)
                                    {
                                        <button type="button" class="btn btn-small btn-outline-danger fas fa-times" @onclick="() => DeleteUser(user)"/>
                                    }                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td valign="middle">User Id</td>
                                <td valign="middle">@user.UserId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td valign="middle">Name</td>
                                <td valign="middle"><InputText id="userName" @bind-Value="user.UserName"/></td>
                                <td valign="middle"><ValidationMessage For="() => user.UserName"/></td>
                            </tr>
                            <tr>
                                <td valign="middle">Email</td>
                                <td valign="middle"><InputText id="email" @bind-Value="user.Email"/></td>
                                <td valign="middle"><ValidationMessage For="() => user.Email"/></td>
                            </tr>
                        </tbody>
                    </table>
                    @if (!user.UserId.Equals(0))
                    {
                        <table>
                            <tbody>
                                <tr>
                                    <td>Roles</td>
                                    <td>Permissions</td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (headwayRoles != null)
                                        {
                                            @foreach (var role in headwayRoles)
                                            {
                                                <input type="checkbox" checked="@role.IsSelected" @onchange="eventArgs => { RolesCheckboxClicked(role.Role.RoleId, eventArgs.Value); }" />@role.Name<br />
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (headwayPermissions != null)
                                        {
                                            @foreach (var permission in headwayPermissions)
                                            {
                                                <input type="checkbox" checked="@permission.IsSelected" @onchange="eventArgs => { PermissionCheckboxClicked(permission.Permission.PermissionId, eventArgs.Value); }" />@permission.Name<br />
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </EditForm>
            }
            else
            {
                <Alert AlertType="@alert.AlertType" Title="@alert.Title" Message="@alert.Message" RedirectText="@alert.RedirectText" RedirectPage="@alert.RedirectPage"/>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>
