@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

@inherits DecimalBase

<div class="mb-1">
    <div class="row">
        <div class="col-sm-4 col-form-label">
            @if(string.IsNullOrWhiteSpace(Field.Tooltip))
            {
                @Field.Label                
            }
            else
            {
                <MudTooltip Text="@Field.Tooltip" Placement="Placement.Top" Arrow="true">@Field.Label</MudTooltip>
            }
        </div>
        <div class="col-sm-8">
            <MudNumericField @bind-Value="@PropertyValue" MaxLength="@MaxLength" Min="@Min" Max="@Max" For="FieldExpression" Variant="Variant.Outlined"/>
        </div>
    </div>
</div>