@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

@inherits OptionBase

<div class="mb-1">
    <div class="row">
        <div class="col-sm-4 col-form-label">
            @if(string.IsNullOrWhiteSpace(Field.Tooltip))
            {
                @Field.Label                
            }
            else
            {
                <MudTooltip Text="@Field.Tooltip" Placement="Placement.Top" Arrow="true">@Field.Label</MudTooltip>
            }
        </div>
        <div class="col-sm-8">
            <MudRadioGroup @bind-SelectedOption="@PropertyValue" For="FieldExpression" ReadOnly="@Field.ReadOnly">
                @foreach (var option in options)
                {
                    <MudRadio Option="@option.Id">@option.Display</MudRadio>
                }
           </MudRadioGroup>
        </div>
    </div>
</div>