@*@inherits ListConfigsBase

@if (listConfigs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Config Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>ModelApi</th>
                <th>Navigate To</th>
                <th>Navigate Property Name</th>
                <th> 
                    <button type="button" class="btn btn-small btn-outline-primary fas fa-plus" @onclick="() => Add()"/>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var listConfig in listConfigs)
            {
                <tr>
                    <td>
                        @listConfig.ConfigId
                    </td>
                    <td>
                        @listConfig.Name
                    </td>
                    <td>
                        @listConfig.Title
                    </td>
                    <td>
                        @listConfig.ModelApi
                    </td>
                    <td>
                        @listConfig.NavigateTo
                    </td>
                    <td>
                        @listConfig.NavigateToPropertyName
                    </td>
                    <td>
                        <button type="button" class="btn btn-small btn-outline-primary fas fa-edit" @onclick="() => Update(listConfig.ConfigId)"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}*@