@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView Roles="@Roles.HEADWAY_USER">
    @foreach (var module in modules)
    {
        @RenderModule(module);
    }
</AuthorizeView>

@code {
    [Inject]
    public IAppCache AppCache { get; set; }

    [Inject]
    public IMediator Mediator { get; set; }

    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Parameter]
    public bool IsAuthorized { get; set; }

    private IEnumerable<Module> modules = new List<Module>();

    protected async override Task OnParametersSetAsync()
    {
        if (IsAuthorized)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync().ConfigureAwait(false);
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                if (user.HasClaim(c => c.Type == ClaimTypes.ROLE && c.Value.Equals(Roles.HEADWAY_USER)))
                {
                    var response = await Mediator.Send(new ModulesGetRequest()).ConfigureAwait(false);
                    modules = response.Modules;
                }
            }
        }

        await base.OnParametersSetAsync().ConfigureAwait(false);
    }

    private RenderFragment RenderModule(Module module) => __builder =>
    {
        @if (module != null)
        {
            //<MudText Typo="Typo.subtitle2" Color="Color.Inherit" Class="ml-4 my-3">@module.Name</MudText>
            <MudNavGroup Title="@module.Name" HideExpandIcon="true">
                @foreach (var category in module.Categories)
                {
                    <MudNavGroup Title="@category.Name" Icon="@Icons.Material.Outlined.AssignmentInd" HideExpandIcon="true">

                        @foreach(var menuItem in category.MenuItems)
                        {
                            <MudNavLink Href="@menuItem.NavigateFullPath()" Icon="@Icons.Material.Outlined.InsertDriveFile" @onclick:stopPropagation Match="NavLinkMatch.All">@menuItem.Name</MudNavLink>
                            //Icon="@Icons.Material.Outlined.InsertDriveFile"
                            //<span class="@menuItem.ImageClass" aria-hidden="true"></span>
                        }
                    </MudNavGroup>
                }
            </MudNavGroup>
        }
    };
}
